* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --btn-main-color: #57f269;
    /* --bg-color: #FDFBD4; */
    --bg-color: black;
    --club-icon: url('/suits/club.svg');
    --diamond-icon: url('/suits/diamond.svg');
    --heart-icon: url('/suits/heart.svg');
    --spade-icon: url('/suits/spade.svg');
}

body {
    background-color: var(--bg-color);
    overflow: hidden; 
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.btn-main {
    padding: 2vw;
    margin: 2vw;
    min-width: 15vw;
    max-width: 50%;
    background-color: var(--btn-main-color); 
    border-radius: 5px;
    border: none;
}

.btn-small {
    padding: 1vw;
    margin: 1vw;
    width: 20%;
    max-width: 2vw;
    background-color: var(--btn-main-color);
    border-radius: 5px;
    border: none;
}

.modal {
    background-color: white;
    width: 80%;
    margin: auto; 
    margin-top: 5%;
    height: 75vh;
    border-radius: 5px;
    text-align: center;
}

.stepper {
    overflow: hidden;
}

.stepper-track {
    width: 200%;
    display: flex;
    transition: transform 0.2s ease;
    height: 100%;
}

.stepper-track.step-2 {
    transform: translateX(-50%);
}

.step {
    width: 50%;
    padding: 4rem;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.step-center {
    align-items: center;
}

.scroll-box {
    overflow-y: scroll;
}

.lobby-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: solid black;
}

.btn-blue {
    border-radius: 50%;
    padding: 4rem;
    background-color: blue;
    border: none;
}

.btn-yellow {
    border-radius: 50%;
    padding: 4rem;
    background-color: yellow;
    border: none;
}

.gamemode-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    justify-content: center;
    margin: auto;
    width: 30%;
    display: none;
    grid-template-columns: auto auto auto auto;
    background-color: green;
    box-shadow: black 2px 2px;
    border-radius: 10%;
    position: fixed;
    z-index: 1;
}

.gamemode-modal div {
    border: 1px solid black;
    background-color: var(--btn-main-color);
    padding: 0.5rem;
    margin: 0.8rem;
    border-radius: 30%;
    min-height: 70px;
    min-width: 70px;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.btn-club {
    background-image: var(--club-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-decoration: none;
}

.btn-diamond {
    background-image: var(--diamond-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-decoration: none;
}

.btn-heart {
    background-image: var(--heart-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.btn-spade {
    background-image: var(--spade-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pass-btn {
    grid-column: 1 / -1;
    justify-self: center;
    width: 40%;
    padding: 1rem;
}

.debug-board {
    color: yellow;
    position: absolute;
    top: 60%;
    left: 80%;
    width: 15%;
    height: 30%;
    border: solid yellow;
    padding: 2rem;
    font-size: 0.85rem;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    z-index: 1000;
}